<div class="o-teaser o-teaser--small   " data-o-component="o-teaser">
  <div class="o-teaser__content">
    <h2 class="o-teaser__heading">
      <a href={{result.location.uri}}>{{result.title.title}}</a>
    </h2>

    <p class="o-teaser__standfirst">
      <a href={{result.location.uri}}>
        {{result.summary.excerpt}}
      </a>
    </p>

    <div class="o-teaser__timestamp">
      <time data-o-component="o-date" class="o-date o-card__timestamp"
        datetime="{{lifecycle.lastPublishDateTime}}">{{lifecycle.lastPublishDateTime}}</time>
    </div>

  </div>
</div>